// Google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(50px, auto));
  margin: auto;
  text-align: center;

  &__image {
    width: 100px;
    height: auto;
  }
}

.nav {
  grid-column: 1 / 13;
  grid-row: 1 / 2;

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked ~ .nav__menu {
    max-height: 125px;
  }

  &__hamburger {
    display: block;
    text-align: right;
    margin-right: 10vw;
    margin-left: 90vw;
  }

  &__menu {
    position: absolute;
    text-align: center;
    left: 70vw;
    width: 80px;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 500ms ease;
    -moz-transition: max-height 500ms ease;
    -o-transition: max-height 500ms ease;
    transition: max-height 500ms ease;
    background-color: black;

    ul {
      list-style: none;
      margin-top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      width: 40px;
    }
  }
}

.left {
  text-align: left;
}
